* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background: rgb(5,1,75);
    background: linear-gradient(339deg, rgba(5,1,75,1) 4%, rgba(138,214,255,0.9332983193277311) 58%, rgba(210,248,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}